body{
  font-family: 'Pacifico', cursive;
  font-size: 25px;

}
.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

}
.carousel-inner{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
  max-height: 850px !important;
  background: rgba(0,0,0,0.5);

}
.IMG{
  width: 100%;
  position: relative;

}
.lead{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #003266;
  margin-right: 17px;
   margin-left: 30px;
  background-color: #fff
}
@media screen and (max-device-width: 800px) {
    html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
#backgroundtext {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -100;
  width: auto;
  height: auto;
  background: rgba(0,0,0,0.5);
  color: #99cdff;
  min-width: 100%;
  min-height: 100%;
  webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  float: right;
  font-size: 2rem;
}
#desc{
  background-color: #003266;
}
